.root {
  width: 800px;
  min-height: 400px;
  padding: 40px;
  border-radius: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #F5F5F5 !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.fieldsBoxLine {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  margin-bottom: 25px;
  width: 100%;
}

.buttonsBlock {
  display: flex;
  justify-content: center;
}
